.reservation.card {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

.reservation .main {
    width: 100%;
    justify-items: left;
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reservation .reservationInfo {
    grid-area: 2 / 1 / span 1 / span 3;
    text-align: center;
}

.reservation.card h4 {
    margin: 0px;
}

.reservation span {
    display: block;
}

.reservation .cardInfo {
    text-align: center;
}

.reservation .buttons {
    grid-area: 1 / 2 / span 2 / span 1;
    align-self: center;
}