.reservation.card {
    width: 90%;
    max-width: 750px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
}

.reservation .main {
    width: 100%;
    justify-items: left;
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reservation .reservationInfo {
    grid-area: 2 / 1 / span 1 / span 2;
    text-align: center;
}

.reservation.card h4 {
    margin: 0px;
}

.reservation span {
    display: block;
}

.reservation .cardInfo {
    text-align: center;
}

.reservation .buttons {
    grid-area: 1 / 2 / span 2 / span 1;
    align-self: center;
}

@media only screen and (max-width: 550px) {
    .reservation.card {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .reservation .reservationInfo {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .reservation .buttons {
        grid-area: 2 / 1 / span 1 / span 1;
        display: flex;
    }
    
    .reservation .main {
        justify-items: center;
        align-items: center;
    }
}