.specForm .header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.specForm h3, .specForm button {
    display: inline;
    margin: 10px;
}

.specForm .category {
    margin: 10px 0;
}

.specForm .spec {
    margin-left: 20px;
}

.specForm .last {
    border-bottom: none;
}

.specForm .addSpec {
    margin-left: 30px;
}

.specForm hr {
    width: 70%;
}

.specForm input {
    max-width: 150px;
}

@media only screen and (max-width: 550px) {
    .specForm .spec {
        border-bottom: 1px solid rgb(43, 42, 42);
    }
  }