header {
    height: 1000px;
    width: 100%;
    background-image: url('../../images/iterate-background.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.splash .heading {
    text-align: center;
}

header h1 {
    margin: 25px;
    font-size: 60px;
    font-weight: lighter;
}

.subtitle {
    font-size: 30px;
    font-weight: lighter;
}

body {
    background-color: #1a1a1a;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

@media only screen and (max-width: 550px) {
    header {
        height: 700px;
    }
}