header {
    position: relative;
    height: 1000px;
    width: 100%;
    background-image: url('../../images/purpleCard.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    z-index: -2;
}

.headerBack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.nav button {
    background-color: whitesmoke;
    color: darkorchid;
}

.splash .heading {
    text-align: center;
}

header h1 {
    margin: 25px;
    font-size: 60px;
    font-weight: lighter;
}

.subtitle {
    font-size: 30px;
    font-weight: lighter;
}

body {
    background-color: #1a1a1a;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    header {
        background-position-x: -200px;
    }
}

@media only screen and (max-width: 550px) {
    header {
        height: 700px;
    }
}