.product img {
    max-width: 300px;
    max-height: 300px;
}

.product.category {
    border-top: 1px solid whitesmoke;
    margin: 10px 0;
}

.product h4 {
    margin: 10px 0;
}

.product {
    margin: 10px 20px;
}