.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 3rem;
  /* background: #fff; */
  height: 450px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide article {
    height: 100%;
    margin-right: 5%;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: contain;
  object-position: bottom;
}

.swiper-slide h6 {
    margin: 2rem 0 0 0;
}

.swiper-slide {
    width: 35%;
}

@media only screen and (max-width: 1200px) {
    .swiper-slide {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .swiper-slide {
        font-size: 2.2rem;
        height: 350px;
    }

    .swiper-slide h6 {
        margin: 1rem 0 0 0;
    }
}

@media only screen and (max-width: 550px) {
    .swiper-slide {
        width: 50%;
        height: 275px;
        font-size: 2rem;
    }
}