.dashboard .selections {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
}

.dashboard .selection.preview {
    max-width: none;
    min-width: 200px;
    margin: 20px;
    width: 30%;
    height: 200px;
    background-color: darkorchid;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    border: 1px solid darkorchid;
}

.dashboard .selection.preview button {
    width: 100%;
    height: 100%;
    position: relative;
    top: -5px;
    left: -5px;
    /* opacity: .7; */
    background-color: rgba(0, 0, 0, .6);
}

.dashboard #selectReservations.preview {
    background-image: url('../../images/clipboard.jpg');
}

.dashboard #selectListings.preview {
    background-image: url('../../images/card.JPG');
}

.dashboard #selectListings.preview button {
    background-color: rgba(0, 0, 0, .4);
}

@media only screen and (max-width: 550px) {
    .dashboard #selectListings.preview {
        
    }
}