.dashboard.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard.selection.preview {
    margin: 20px;
    padding: 40px;
    width: 30%;
    height: 200px;
    background-color: darkorchid;
}