div.offerCard {
    display: grid;
    grid-template: 1fr 2fr / 3fr 4fr 1fr;
    justify-items: center;
    align-items: center;
}

.offerCard img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
    grid-area: 1 / 1 / span 2 / span 1;
}

.offerCard .buttons {
    grid-area: 1 / 3 / span 2 / span 1;
}

.card button {
    display: block;
    width: 100%;
}

.offerPrice, .offerTitle {
    font-size: 40px;
}

.offerTitle {
    font-size: 25px;
    text-align: center;
}

.offerTerm {
    display: block;
    color:rgba(129, 129, 129, 0.904)
}

.offerDetails {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media only screen and (max-width: 550px) {
    div.offerCard {
        grid-template: 12fr 5fr 5fr 5fr / 1fr;
    }

    .offerCard img {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .offerTitle {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .offerDetails {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .offerCard .buttons {
        grid-area: 4 / 1 / span 1 / span 1;
        width: 75%;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;

    }
}